body {
  background: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 40px;
}
.main-section {
  background: transparent;
  max-width: 600px;
  width: 100%;
  height: 500px;
  margin: 100px auto;
}
.clock-holder {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}
.timer-sec {
  margin: 20px;
}
.stopwatch {
  padding: 60px 125px;
}
.stopwatch span{
  background: #080808;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  padding: 20px;
  border-radius: 36px;
  width: 70px;

}
.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  text-transform: uppercase;
  width: 150px;
  transition: background 2s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red {
  border: 2px solid #c85454;
  color: #c85454;
}
.stopwatch .stopwatch-btn-yel {
  border: 2px solid #dbaf0e;
  color: #dbaf0e;
}
.stopwatch .stopwatch-btn-gre {
  border: 2px solid #00b61e;
  color: #00b61e;
}
.stopwatch .stopwatch-btn-red:hover {
  border: 2px solid #c85454;
  background: #c85454;
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  border: 2px solid #dbaf0e;
  background: #dbaf0e;
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  border: 2px solid #00b61e;
  background: #00b61e;
  color: #fff;
}